*{
    border: 0; 
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* ------> Header <-----*/

header{
    background-color:#f8765e ;
    color: #ffffff;
    text-align: center;
    padding-bottom: 100px;
    
}
/* ----> Titulo <----*/

header h1{
    padding: 25px;
    font-size: 26px;
}

/* ----> Nav Bar <----*/

header nav a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 30%;
}
header nav{
    margin-bottom: 25px;
}

/* ----> Imagen <----*/

header section img{
    padding: 50px;
}

/* ----> Tetxo Subscribete <----*/

header section h2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 15px;
}
header section div{
    margin: 30px;
}
header section div p{
    line-height: 32px;
}

/* ----> Formularios <----*/

form input.email{
    display: block;
    border-radius: 20px;
    width: 375px;
    padding: 20px;
    font-size: 17px;
    color: #cdcdcd;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.15);
}
form{
    margin: 30px;
    text-align: center;
}
.boton{
    border-radius:20px ;
    width:168px ;
    font-size: 20px;
    color: #ffffff;
    background-color:#9bdbe7 ;
    padding-top: 18px;
    padding-bottom: 17px;
}
.email::placeholder{
    color: #cdcdcd
}

/* ----> Benefit <----*/

main section#Benefit h3{
    color: #031d5b;
    font-size:18px ;
    font-weight: 500;
    margin-top: 40px;
    border-bottom: 5px solid #f8765e;
    padding-bottom: 20px;
    display: inline-block;

}
main section#Benefit p{
    color:#5b6c94 ;
    font-size: 16px;
    font-weight: 500;
    line-height:32px ;
    margin-bottom: 60px;
    margin-top: 25px;
}

/* ----> Card Benefit <---- */

main section#Benefit{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 34px 0 rgba(210, 210, 210, 0.5);
    background-color: #ffffff;
    padding: 60px 20px;
    margin-top: -60px;
} 

/* ----> Imágenes dentro de main <----*/

main section img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* ----> Pricing <----*/

main section#Pricing img{
    margin: 100px auto 60px; 
}

/* ----> Texto Pricing <----*/

main section#Pricing h2{
    color: #f8765e;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 10px;
}
main section#Pricing h3{
    color:#031d5b ;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
}
main section#Pricing{
    color:#5b6c94 ;
    font-size: 16px;
    font-weight: 500;
    line-height:40px ;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

/* ----> Botón  Pricing <----*/

main section#Pricing button{
    margin-top: 30px;
    margin-bottom: 120px;
}

/* ----> Testimonials <----*/

main section#Testimonials h4{
    color: #f8765e;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    margin-left: 30px;
}
main section#Testimonials p{
    color: red;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 60px;
} 
main section#Testimonials p.persona{
    padding-top: 78px;
}

.orangecomillas{
    display: inline-block;
    margin-left: 20px;
    margin-right: auto;
    width: 30%;
    position: relative;
    top: -70px;
    z-index: -1;
}


/* ----> Notificación <----*/

main section h2{ 
    color: #f8765e;
    font-size: 30px;
    line-height: 40px;
    margin: 20px;
    text-align: center;
}
main section p.product {
    color: #cdcdcd;
    font-size: 26px;
    font-weight: 500;
    text-align: center;
    margin: 20px 30px 50px;
}

/* ----> Main <---- */

main {
    margin-bottom: 110px;
}

/*----> Footer<----*/

footer p.derechos {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
footer{
    background-color:#f8765e ;
    color: #ffffff;
    text-align: center;
}
footer nav a{
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 40px;

}

